nav {
    background-color: grey;
    padding: 10px;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            color: beige;
            display: inline-block;
            margin-right: 15px;
            a{
                color: red;
                text-decoration: none;
                &:hover{color: yellow;}
            }
        }
    }
}